.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    color: #fff;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;

    &__left{
        display: flex;
        align-items: center;
        margin-left: 1rem;

        &__item{
            padding: 1rem;
            cursor: pointer;
        }

        .logo{
            font-size: 1.5rem;
        }
    }

    &__right{
        display: flex;
        margin-right: 1rem;
        
        &__btn{
            padding: 1rem;
            cursor: pointer;

            &>*{
                padding: 2px;
            }

            &__icon{
                font-size: .8rem;
            }
        }
    }
}