.director {
    &__content {
        margin-top: 80px;
        padding: 0 5rem;
        min-height: 80vh;

        &__name {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &__dob {
            margin-bottom: 1rem;
        }

        &__detail {
            display: flex;
            margin-bottom: 1rem;

            &__image {
                height: 300px;
                width: 200px;
            }

            &__description {
                margin-left: 2rem;
            }
        }

        &__movie {
            margin-bottom: 1rem;

            &__title {
                font-size: 1.3rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .item-movie {
                display: flex;
                border: 1px solid $divider;
                border-radius: 8px;
                overflow: hidden;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                &__image {
                    width: 80px;
                    height: 120px;
                }

                &__detail {
                    padding: .5rem 1rem;

                    &__name {
                        font-weight: 600;
                    }

                    &>div {
                        margin-bottom: 0.5rem;
                    }

                    &__score {
                        svg {
                            color: $yellow;
                        }

                        span {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}